.card {
  padding: 15px 15px calc(15px + 35px);
  height: 100%;
  border: 1px solid var(--ifm-color-secondary);
  border-radius: 8px;
  position: relative;
}

.button {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.image {
  border: 1px solid #ebedf0;
  border-radius: 6px;
}
