.card {
  padding: 2rem 2rem calc(2rem + 35px);
  height: 100%;
  border: 1px solid var(--ifm-color-secondary);
  border-radius: 8px;
  position: relative;
}

.button {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.image {
  border: 1px solid #ebedf0;
  border-radius: 4px;
}
