.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroLogo {
  max-height: 50px;
  margin-right: 15px;
}

.mainSloganLinks {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.mainSloganButton {
  border: 1px solid #fff;
  color: #fff;

  &:hover {
    background: #fff;
  }
}

@media screen and (max-width: var(--infimaBP)) {
  .heroBanner {
    padding: 2rem;
  }
}
