.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroLogo {
  max-height: 50px;
  margin-right: 15px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
