.mainSlogan {
  text-align: center;
  margin-top: 50px;
}

.mainSloganDesc {
  margin-top: 20px;
}

.whatCanDo {
  margin-top: 100px;
}

.whatCanDoFeature {
  margin-top: 70px;

  @media screen and (max-width: var(--infimaBP)) {
    img {
      margin-top: 30px;
    }
  }
}
