/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #ebedf0;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  padding-left: 1rem;
}

.image {
  border-radius: 6px;
  border: 1px solid var(--ifm-color-secondary);
}

.icon {
  display: inline-block;
  width: 1em;
  position: relative;
  top: 4px;
}
