<center>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/infracloudio/botkube/archive/master.zip" data-icon="octicon-cloud-download" aria-label="Download infracloudio/botkube source from GitHub">Download</a>

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/infracloudio/botkube" data-icon="octicon-star" data-show-count="true" aria-label="Star infracloudio/botkube on GitHub">Star</a>

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/infracloudio/botkube/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork infracloudio/botkube on GitHub">Fork</a>

    <p>
        <br><a href="https://slack.com/oauth/authorize?scope=commands,bot&client_id=12637824912.515475697794">
        <img src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" width="139" height="40"></a>
    </p>
</center>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
