/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  //Fonts
  --ifm-h2-font-size: 2rem;

  //Colors
  --ifm-color-primary: #1c90f3;
  --ifm-color-primary-dark: #1c90f3;
  --ifm-color-primary-darker: #1c90f3;
  --ifm-color-primary-darkest: #1c90f3;
  --ifm-color-primary-light: #33a1ff;
  --ifm-color-primary-lighter: #33a1ff;
  --ifm-color-primary-lightest: #33a1ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-button-color: #1c1e21;

  --cookie-background: #1c90f3;
  --cookie-font-color: #fff;
  --cookie-button-border: #fff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #1c90f3;
  --ifm-color-primary-dark: #1c90f3;
  --ifm-color-primary-darker: #1c90f3;
  --ifm-color-primary-darkest: #1c90f3;
  --ifm-color-primary-light: #33a1ff;
  --ifm-color-primary-lighter: #33a1ff;
  --ifm-color-primary-lightest: #33a1ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-button-color: #fff;

  --cookie-background: #1c90f3;
  --cookie-font-color: #fff;
  --cookie-button-border: #fff;

  img[src$="#light-bg"],
  .light-bg {
    background-color: #fff;
    padding: 2px;
  }
}

.button.button--primary {
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;

  &:hover {
    background: #eee;
  }
}

.button.button--secondary {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;

  &:hover {
    color: #000;
    background: #fff;
  }
}

/* Tabs in mdx */
.tab-container-nested {
	margin: 0 0 var(--ifm-list-margin);
	padding-left: var(--ifm-list-left-padding);
}
